body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #394263;
}
#navbar ul li{
     /* float: left; */
     list-style: none  
}
#toggelMenu{
    margin-left: 165px;
}
.close-m{
    width:34px!important;
}
#toggelMenu li{
    min-height: 50px;
    float: left;
}
#menuLink a:hover {
    padding-left: 5px;
    /* border-left: 5px solid #1bbae1; */
    text-decoration: none;
}
#menuLink a:focus {
    padding-left: 5px;
    /* border-left: 5px solid #1bbae1; */
    text-decoration: none;
    color: white;
}
#menuLink{
    width:165px;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    z-index: -1;
}
#toggelMenu ul{
    padding: 0px;
    float: left;
    margin: 0px;
}
#menuLink li:hover{
    border-left: 5px;
    border-color:  cyan;
    background: rgba(0,0,0,.3);
}
li a{
    color:white;
    padding: 5px 0px;
}
li a:hover{
    color:white!important;
}
#dataT tr:hover{
cursor: pointer;
}

li>ul{
    display: none;
}
#toggelMenu a{
        display: block;
        min-width: 50px;
        padding: 5px 7px;
        line-height: 40px;
        text-align: center;
        color: crimson;
        position: relative;
}
#toggelMenu i{
    font-size: x-large
}

#menuLink{    
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #394263;
    color: white;
    font-size: 15px;
    left: 0;
    padding-top: 75px;
}
#menuLink>ul{
    width:165px;
    padding-left: 0px;
}
#menuLink>ul>li{
   padding:18px 10px 18px 10px;
}
#menuLink i{
    margin-right: 10px;
}
li> ul{
    padding-left:0px; 
}
#navbar{
    position: absolute;
    z-index: -1; 
    top:0;
    left:0;
    width:165px;
    padding: 50px 5px 5px 5px
}
.main{
margin-left: 150px;
min-height: 80vh;
padding: 10px;
-webkit-transition: margin-left 0.3s;; /* Safari */
transition: margin-left 0.3s;
-moz-transition: margin-left 0.3s;;
}
header{
    height: 50px;   
}
.close-ma{
    margin-left:30px;
}
#footer{
    overflow: auto;
    /* margin-left: 165px;  */
    padding: 10px;
    background-color:darkcyan;
    color: white;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(images/noise.jpg);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0)), url(images/noise.jpg);
    background-repeat: repeat-x, repeat;
    background-size: 100px 15px, 140px 140px;
}
#footer img{
    width:40px;
}
.card{
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 56%;
    max-height: 56%;
    margin: 0rem 1rem 4rem 1rem;
    position: relative;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}
.card-title{
text-align :left;
    background-color: #394263;
    padding: 0px 1rem;
    overflow: auto;
    color: white;
}
.card-body{
padding: 10px;
}
#logo{
    width:165px;
    position:fixed;
    top:0;
    height:50px;
    background: rgb(49, 56, 84);
    color: white;
    font-size: 16px;
     z-index: 1;
}
#logo img{
    width:40px;
}
.overf{
    overflow: hidden;
}
.loader{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: white;
    /* display: none; */
}   
.loader-content{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    /* top: 25%; */
    /* right: 38%; */
    height: 100%;
}
.loader-content img{
    width:300px;
}
#world-map{
    width:100%;
    height: 300px;
}
#lineHeat{
    width:100%;
    height: 300px;
}
.menu{
    padding-top: 10px;
    position: relative;
}
.menu i {
    position: absolute;
    right: 1;
    bottom: 1;
    cursor: pointer;
}

.menuHidden{
    width: 14px;
    overflow: hidden;
}
.menu>span{
    margin-left: 18px;
}
.progress{
    height: 11px;
    margin-bottom: 0px;
}
.progress-bar{
    line-height: 12px;
    font-size:9px; 
}

.table>tbody>tr>td{
    vertical-align: none;
}
.progress-bar-accent {
    background-color: #FF5252;
    background-image: none;
}
.progress-bar-success {
    background-color: #43A047;
    background-image: none;
}

/* Simple */
.simple{
    padding: 14px;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.simple-content{
    display: -webkit-inline-box;
    padding: 10px;
    font-size: 31px;
    float: left;
}
.simple-icon{
    display: inline-block;
    padding: 16px;
    font-size: 41px;
    float: right;
}
.simple-content h3 {
    color:#394263
text-align: right;
}
.simple-content small{
    float: right;
}



/* Alert */
/* body{
    margin: 0;
    padding: 0;
    background-color:#ff6d6d;
    font-family: arial
} */

.box{
    height: 630px;
    overflow: hidden;
    padding: 10px 0 23px 40px
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.1s linear;
    top:0
}

.box ul:last-of-type{top:80px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #fff;
    position: absolute;
    top:0;
    left:30px
}

.box ul li{
    margin: 16px 60px 27px;
    position: relative;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 10px;
    line-height: 20px;
    width: 72%;
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #fff;
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#ff6d6d;
    border:2px solid #fff;
    position: absolute;
    left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .name{
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}


.box .time span{
    position: absolute;
    left: -100px;
    color:#fff;
    font-size:80%;
    font-weight: bold;
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%}


.arrow{
    position: absolute;
    top: 105%;
    left: 22%;
    cursor: pointer;
  height:20px;
  width:20px
}

.arrow:hover{
    -webkit-animation: arrow 1s linear infinite;
       -moz-animation: arrow 1s linear infinite;
         -o-animation: arrow 1s linear infinite;
            animation: arrow 1s linear infinite;
}

.box ul:last-of-type .arrow{
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}

svg{
    width: 20px;
    height: 20px
}

@keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-webkit-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-moz-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-o-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}
